@import url("../../resources/colors.css");

html,
body,
#root,
.App,
.layout,
.container {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  background: var(--app_color);
  color: var(--font-color);
}
