@import url("../../resources/colors.css");

.navbar {
  width: 100%;
  height: 40px;
  background: var(--navbar_color);
  padding: 5px 0;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 5;
}

.navbar-menus {
  padding: 10px 20px 10px 10px;
  display: flex;
  margin-left: auto;
  border-left: 1px solid var(--font-color);
}

.navbar-menus__element {
  cursor: pointer;
  align-self: center;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  background: var(--app_color_light);
  padding: 5px;
  border-radius: 8px;
}

.navbar-menus__element:hover {
  background: var(--app_color_light_hover);
}

.user-menu {
  margin-right: 20px;
  height: 100%;
}

.user-image {
  border-radius: 50%;
  height: 100%;
}

.user-image:hover {
  cursor: pointer;
}

.profile-dropdown {
  height: 0;
  width: 0;
  position: absolute;
  right: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  background: var(--app_color_light);

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;

  box-shadow: 2px 2px 7px #000;
  border-radius: 8px;
}

.profile-dropdown.open {
  height: 250px;
  width: 300px;
  cursor: auto;
  padding: 10px;
}

.profile-dropdown__image {
  border-radius: 50%;
  width: 100px;
}

.profile-dropdown__name {
  font-weight: 900;
}

.topic-name {
  align-self: center;
  color: var(--button_grey);
  font-size: 30px;
  padding-left: 20px;
}

.topic-menu__container {
  display: flex;
  padding-left: 20px;
}

.topic-menu {
  text-decoration: none;
  align-self: center;
  color: var(--font-color);
  padding: 5px;
  border-radius: 8px;
}
