@import url("../../resources/colors.css");

.topic-reports__container {
  width: max-content;
  margin: 20px;
}

.topic-reports {
  border-radius: 8px;
  box-shadow: 2px 2px 7px #000;
  background: var(--modal_background);
}

.topic-reports__cell-text {
  width: 500px;
  height: 250px;
  padding: 20px;
}

.topic-reports__cell-image {
  width: 250px;
  height: 250px;
  padding: 20px;
}

.topic-reports__text {
  width: 100%;
  height: 100%;
  word-wrap: anywhere;
  overflow-y: scroll;
}

.topic-reports__text::-webkit-scrollbar {
  width: 0 !important;
}

.topic-reports__image {
  height: 100%;
  width: 100%;
}
