.dark {
  --app_color: #18191a;
  --app_color_light: #3a3b3c;
  --app_color_light_hover: #4e4f50;
  --navbar_color: #242526;
  --card_color: #242526;
  --font-color: #cfd1d5;
  --link-color: #444d7c;
  --button-color-green: #03ef62;
  --button-color-green-hover: #72f1a5;

  /* icon sources */
  --more-icon-source: url("../assets/images/dark/more.svg");
  --details-icon-source: url("../assets/images/dark/details_icon.svg");
  --reports-icon-source: url("../assets/images/dark/report_icon.svg");
  --wordcloud-icon-source: url("../assets/images/dark/word-cloud_icon.svg");
  --frequency-icon-source: url("../assets/images/dark/frequency_icon.svg");
  --settings-icon-source: url("../assets/images/settings.svg");
  --settings-theme-icon-source: url("../assets/images/dark/theme.svg");
  --search-icon-source: url("../assets/images/search.svg");
}

.light {
  --app_color: #f3f2ef;
  --app_color_light: #bec0c2;
  --app_color_light_hover: #999696;
  --navbar_color: #fff;
  --card_color: #d1d1d1;
  --font-color: #000;
  --link-color: #444d7c;
  --button-color-green: #03ef62;
  --button-color-green-hover: #72f1a5;

  /* icon sources */
  --more-icon-source: url("../assets/images/light/more.svg");
  --details-icon-source: url("../assets/images/light/details_icon.svg");
  --reports-icon-source: url("../assets/images/light/report_icon.svg");
  --wordcloud-icon-source: url("../assets/images/light/word-cloud_icon.svg");
  --frequency-icon-source: url("../assets/images/light/frequency_icon.svg");
  --settings-icon-source: url("../assets/images/settings.svg");
  --settings-theme-icon-source: url("../assets/images/light/theme.svg");
  --search-icon-source: url("../assets/images/search.svg");
}
