@import url("../../resources/colors.css");

html,
body,
#root,
.App,
.layout,
.container {
  margin: 0;
  height: 100%;
  font-family: helvetica;
  background: var(--app_color);
  color: var(--font-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}
