.navbar {
  width: 100%;
  height: 50px;
  background: var(--navbar_color);
  padding: 5px 0;
  display: flex;
}

.navbar__topic-details {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.elements-to-end {
  display: flex;
  height: 100%;
  margin-left: auto;
  padding: 0 20px;
}

.settings {
  display: flex;
  flex-direction: column;
}

.settings__theme-label {
  padding-left: 5px;
}

.settings__theme-switch {
  margin-left: 5px;
}

.settings__language {
  display: flex;
}

.settings__language-icon {
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.navbar-menus {
  padding: 10px 20px 10px 10px;
  display: flex;
  border-left: 1px solid var(--font-color);
}

.navbar-menus__element {
  cursor: pointer;
  align-self: center;
  color: var(--font-color);
  font-size: 20px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 8px;
  transition: 300ms;
}

.navbar-menus__element:hover {
  background: var(--app_color_light_hover);
}

.user-menu {
  height: 100%;
}

.user-image {
  border-radius: 50%;
  height: 100%;
}

.user-image:hover {
  cursor: pointer;
}

.profile-dropdown {
  height: 0;
  width: fit-content;
  position: absolute;
  right: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  background: var(--app_color_light);
  z-index: 1;

  box-shadow: 2px 2px 7px #000;
  border-radius: 8px;
}

.profile-dropdown.open {
  height: 250px;
  cursor: auto;
  padding: 10px;
}

.profile-dropdown__image {
  border-radius: 50%;
  width: 100px;
}

.profile-dropdown__name {
  font-weight: 900;
}

.navbar__topic-name {
  align-self: center;
  color: var(--button_grey);
  font-size: 30px;
  padding-left: 30px;
}

.navbar__topic-archived {
  color: red;
}
