@import url("../../resources/colors.css");

.topic-reports__container {
  margin: auto;
  height: 100%;
}

.topic-reports {
  border-radius: 8px;
  box-shadow: 2px 2px 4px #000;
  background: var(--app_color_light_hover);
  height: 100%;
  margin: auto;
}

.topic-reports__row-header {
  box-shadow: 0 2px var(--font-color);
  height: 50px;
  background: var(--app_color_light);
}

.topic-reports__header {
  font-size: 24px;
  font-weight: normal;
}

.topic-reports__header.text {
  box-shadow: 2px 0 var(--font-color);
}

.topic-reports__row {
  box-shadow: 0 1px var(--font-color);
}

.topic-reports__cell-text {
  width: 500px;
  height: 230px;
  padding: 20px;
  box-shadow: 1px 0 var(--font-color);
}

.topic-reports__cell-image {
  width: 250px;
  height: 230px;
  padding: 20px;
}

.topic-reports__text {
  width: 100%;
  height: 100%;
  word-wrap: anywhere;
  overflow: auto;
}

.topic-reports__image {
  object-fit: none;
  object-position: center;
  height: 100%;
  width: 100%;
}

.topic-reports__pagination-container {
  display: flex;
  margin: auto;
  width: fit-content;
  padding: 20px;
}

.topic-reports__pagination-element {
  cursor: pointer;
  color: var(--font-color);
  padding: 10px;
}

.topic-reports__pagination-element:hover {
  color: var(--app_color_light_hover);
}

.topic-reports__pagination-element.counter {
  cursor: auto;
  border-left: 1px solid #fff;
}

.topic-reports__pagination-element.counter:hover {
  color: var(--font-color);
}
