.topic-reports__container {
  margin: auto;
  height: 100%;
  overflow: auto;
}

.topic-reports {
  box-shadow: 2px 2px 4px #000;
  background: var(--app_color_light_hover);
  width: 100%;
  margin: auto;
}

.topic-reports__row-header {
  box-shadow: 0 2px var(--font-color);
  height: 50px;
  background: var(--app_color_light);
}

.topic-reports__header {
  font-size: 24px;
  font-weight: normal;
}

.topic-reports__header.text {
  box-shadow: 2px 0 var(--font-color);
}

.topic-reports__row {
  box-shadow: 0 1px var(--font-color);
  width: 100%;
}

.topic-reports__cell-text {
  width: 75%;
  height: 230px;
  padding: 20px;
  box-shadow: 1px 0 var(--font-color);
}

.topic-reports__cell-image {
  width: 25%;
  height: 230px;
  padding: 20px;
}

.topic-reports__text {
  width: 100%;
  height: 100%;
  word-wrap: anywhere;
  overflow: auto;
  font-size: 16px;
}

.topic-reports__image {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.topic-reports__pagination-container {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  padding: 20px;
  font-size: 20px;
}

.topic-reports__pagination-element {
  cursor: pointer;
  color: var(--font-color);
  padding: 10px;
}

.topic-reports__pagination-element:hover {
  color: var(--app_color_light_hover);
}

.topic-reports__pagination-element.counter {
  cursor: auto;
  border-left: 1px solid #fff;
}

.topic-reports__pagination-element.counter:hover {
  color: var(--font-color);
}

.feedback-image__modal {
  height: 80%;
  width: 80%;
  border-radius: 8px;
  box-shadow: 2px 2px 7px #000;
  border: none;
  outline: none;
  margin: auto;
  margin-top: 50px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.feedback-image__img {
  object-fit: scale-down;
  height: calc(100% - 30px);
  width: 100%;
  border-radius: 10px;
}

.topic-reports__top-bar {
  display: flex;
  align-items: center;
}

.topic-reports__export {
  height: fit-content;
  border-radius: 4px;
  border: none;
  padding: 15px 40px;
  font-size: 14px;
  background: var(--app_color_light_hover);
  transition: background 300ms ease;
  margin: 0 10px;
  position: relative;
}

.topic-reports__export:hover {
  cursor: pointer;
  background: var(--app_color_light);
}

.topic-reports__export-dropdown {
  height: 0;
  width: 100px;
  position: absolute;
  right: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  background: var(--app_color);
  z-index: 1;

  box-shadow: 2px 2px 7px #000;
  border-radius: 8px;
}

.topic-reports__export-dropdown.open {
  height: fit-content;
  width: 150px;
}

.export__dropwdown-element {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.export__dropwdown-element:hover {
  cursor: pointer;
  background: var(--app_color_light);
}
