.topic__side-menu {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 3px solid rgb(80, 80, 80);
}

.side-menu__title {
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  border-bottom: 3px solid rgb(80, 80, 80);
}

.side-menu__elements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side-menu__item {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--font-color);
  background: var(--app_color);
  text-decoration: none;
  font-size: 20px;
  transition: 300ms;
}

.side-menu__item:hover {
  background: var(--app_color_light);
}

.side-menu__item.selected {
  background: var(--app_color_light_hover);
}

.side-menu__content {
  padding-left: 50px;
  display: flex;
}

.side-menu__icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.side-menu__icon.details-icon {
  background: var(--details-icon-source);
  background-size: cover;
  background-repeat: no-repeat;
}

.side-menu__icon.report-icon {
  background: var(--reports-icon-source);
  background-size: cover;
  background-repeat: no-repeat;
}

.side-menu__icon.wordCloud-icon {
  background: var(--wordcloud-icon-source);
  background-size: cover;
  background-repeat: no-repeat;
}

.side-menu__icon.frequency-icon {
  background: var(--frequency-icon-source);
  background-size: cover;
  background-repeat: no-repeat;
}
